@font-face {
    font-family: nums;
    src: url(exo2-semibold.ttf);
}
@font-face{
    font-family:chill;
    src: url(IndieFlower.ttf);
}
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    li{
        user-select: none;
    }
    body{
        height:99vh;
        overflow:hidden;
        #Container{  
            font-family: chill;
            margin-top:50px;
            padding:70px 0px;
            text-align: center;
            #Calculator{
                background:linear-gradient(150deg,red, yellow,#1aff00);
                -webkit-box-shadow: 13px 15px 21px -2px rgba(0,0,0,0.75);
                -moz-box-shadow: 13px 15px 21px -2px rgba(0,0,0,0.75);
                box-shadow: 13px 15px 21px -2px rgba(0,0,0,0.75);
                display:inline-block;
                min-height:450px;
                padding-bottom:20px;
                width:300px;
                
                #head_display{
                    //border:2px solid black;
                    color:black;
                    min-height:15%;
                    
                               
                    li{
                       // border:1px solid blue;
                        padding-left:5px;
                        padding-right:5px;
                        #blinker{
                            font-size : 20px;
                        }
                        #textBox{  
                            //border:2px solid red;
                            overflow-wrap:break-word;
                            
                        }
                    }
                }
                
                #num_ops{
                 border:2px solid red;
                    height:85%;
                   // margin-top:80px;
                    padding-top:30px;
                    text-align: center;
                    user-select: none;
                    #nums{
                      border:2px solid blue;
                        display: inline-block;
                        float:left;
                        height:80%;
                        margin-left:15px;
                        width:70%;
                         ul{
                            //border:2px solid grey;
                            margin-top:5px;
                             
                            li{
                               // border-bottom:3px solid black;
                                //border-radius:50px;
                                color:black;
                                cursor:pointer;
                                -webkit-box-shadow: 5px 2px 9px -2px rgba(0,0,0,0.51);
                                -moz-box-shadow: 5px 2px 9px -2px rgba(0,0,0,0.51);
                                box-shadow: 5px 2px 9px -2px rgba(0,0,0,0.51);
                                display:inline-block;
                                font-size: 40px;
                                list-style-type: none; 
                                user-select: none;
                                margin-right:20px;
                                text-align: center;
                                width:20%;
                                z-index:10;
                            }
                             
                             li:hover{
                                background-color: black;
                                border-bottom-color: white;
                                color:white;
                             }
                        }
                        ul:first-child{
                                margin-top:0px; 
                             }
                        
                    }
                    #ops{
                        //background-color:black;
//                      border:2px solid white;
                        color:white;
                        display:inline-block;
                        float:right;
                        font-family: nums;
                        //height:163px;
                        //margin-top:20px;
                        vertical-align:top;
                        width:20%;
                        
                        ul{
                         // border:2px solid blue;
                            height:100%;
                            font-size:30px;
                            margin-left: 20px;
                            text-align: center;
                            li:nth-child(3){
                                font-size:25px;
                            }
                            li:nth-child(4){
                                //font-size:40px;
                            }
                            li{
                                background-color:black;
                                border-bottom:3px solid black;
                                list-style-type: none;
                                margin-top:5px;
                                cursor:pointer;
                                user-select: none;
                            }
                            li:first-child{
                                 margin-top:0px;
                            }
                            li:hover{
                                border-bottom:3px solid white;
                                background-color:white;
                                color:black;

                            }
                        }
                    }
                }
            }
        }  
    }
}